/* selector { property: value property: value } */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
#tophead {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -2.5px;
}
.heady {
  display: flex;
  justify-content: space-between;
  margin: 6px 6px 2px;
}
nav {
  display: flex;
  justify-content: center;
  padding: 0 6px;
  margin: 8px 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 14px;
}
li {
  list-style: none;
}
a {
  all: unset;
  cursor: pointer;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
}
li .label {
  text-decoration: underline;
}
#headyhr {
  padding: 8px;
  font-weight: 1000;
}
body {
    font: 400 1rem/1.6 "Arial", sans-serif;
    color: #000000;
  }

  h1 {
    font-size: clamp(1.5 rem, 5vw, 4.8rem);  /* 1rem = 10px brain hack */
    line-height: 1.2;
    letter-spacing: -0.5px;
  }

  .grid-item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600; 
    font-size: 2.5rem;
    border: 2px solid black;
    border-radius: 4px;
    background: #FFC40C;
    color: white;
    /* LAYOUT */
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
}
.grid-playground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center horizontally */
    align-items: flex-start;     /* Center vertically */
    /* min-height: 100vh;        */
    background: #FBEC5D ;
    padding: 20px;
    gap: 20px;
}
/* Grid-Container */
.grid-container {
  background: white;
}
/* Grid-Container-1 */
.grid-container-1 {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(6, 60px);
    outline: 2px dashed black; /* Highlight container */
    gap: 15px;
    padding: 15px;
}
.item-01 {
    grid-row: 1 / 5;
    grid-column:1 / 5;
}
.item-02 {
    grid-row: 5 / 7;
    grid-column:5 / 7;
}
.item-03 {
    grid-row: 1 / 5;
    grid-column:5 / 7;
}
.item-04 {
    grid-row: 5 / 7;
    grid-column:1 / 5;
}
/* Grid-Container-2 */
.grid-container-2 {
    display: grid;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: repeat(5, 60px);
    outline: 2px dashed black;
    gap: 20px;
    padding: 20px;
}
.item-11 {
    grid-row: 1 / 6;
    grid-column: 3 / 4;
  }
.item-12 {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
  }
.item-13 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }  
  .item-14 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .item-15 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
  }
/* Grid-Container-2 */
  .grid-container-3 {
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(6, 160px);
    border: 2px dashed black;
    border-radius: 4px;
    gap: 10px;
    padding: 20px;
  }

  .cardwrapper {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 100%;
    max-width: 1200px;
    /* height: 55px; */
    height: auto;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: #0A0A0A;

    /* box-layout */
    padding: 10px;
    margin: 0;

    /* flex item-props */
    flex: 0 1 200px;
}

.i1 {
    order: 1;


}
.i2 {
    order: 2;

    /* flex-shrink: 1; */
}
.i3 {
    order: 3;


}